// Page keyframes
@keyframes pulse {
  to {
    width: 22rem;
    height: 22rem;
    opacity: 0.2;
  }
}

// Page placeholder
%circle-shape {
  position: relative;
  border: none;
  cursor: pointer;
}

.box {
  position: relative;
  width: 10rem;
  height: 10rem;
  @include flexify($align-horizon: center, $align-vertical: center);

  > .start-record {
    @include circle-secondary();
    @extend %circle-shape;

    > .icon-record {
      width: 1rem;
      height: 1rem;
      fill: $color-black;
    }
  }

  > .start-record-alert {
    @include circle-main();
    @extend %circle-shape;
  }

  > .fx {
    @include circle-main($width: 6rem);
    position: absolute;
    background-color: transparent;
  }
}

.video-preview {
  max-width: 60vw;
  height: auto;
  border: 0.1rem solid $color-gray-middle;
  border-radius: 0.2rem;
  box-shadow: 0rem 0rem 10rem 0.1rem $color-gray-dark;
}

// Page helper
.fx.pulse {
  animation: pulse 2s infinite ease-in;
  border: 1px solid $color-main;
}
.box > .start-record > .icon-recording {
  fill: $color-gray-light;
}

.fade-enter-active, .fade-leave-active {
  transition: all .5s;
}
.fade-enter, .fade-leave-active {
  margin-left: 10rem;
  opacity: 0;
}

.container-modal {
  @include flexify(space-around, center, column);
  position: absolute;
  width: 55vw;
  height: 55vh;
  background-color: $color-gray-middle;
  border-radius: 0.3rem;
  z-index: 2;
  box-shadow: 0rem 0rem 10rem 0.1rem $color-gray-dark;

  > .modal-title {
    color: $color-black-light;
    text-align: center;
  }

  > .modal-input {
    color: $color-black-light;
    border-radius: 0.3rem;
    font-size: 1rem;
    width: 40vw;
    height: 6vw;
    padding: 3px 5px 3px 5px;
    border: none;
    outline: none;
  }

  > .modal-button {
    padding: 0.7rem 4rem 0.7rem 4rem;
    border: none;
    border-radius: 0.3rem;
    background-color: $color-gray-light;
    transition: all .2s ease-in-out;
    color: $color-black-light;
    text-decoration: none;
    text-align: center;
    font-weight: bold;

    &:hover {
      background-color: $color-main;
      color: $color-gray-light;
      // border-color: $color-secondary;
    }
  }
}
