
%button-to-dark-background {
  border: none;
  background-color: none;
  color: $color-gray-light;
}

%button-to-light-background {
  border: none;
  background-color: none;
  color: $color-black;
}
