<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.head.title | escape }}{% endif %}</title>
<meta itemprop="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

{% if site.author %}
  <meta name="author" content="{{ site.head.author }}"/>
{% endif %}
<link rel="base" href="{{ page.url | replace: 'index.html', '' | prepend: site.baseurl | prepend: site.url }}"/>
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
<meta rel="sitemap" type="application/xml" content="{{ "/sitemap.xml" | prepend: site.baseurl | prepend: site.url }}"/>
<meta name="robots" content="none"/>
<meta name="googlebot" content="none"/>
<meta name="theme-color" content="{{ site.head.themeColor }}"/>
<meta name="msapplication-navbutton-color" content=""/>
<meta name="apple-mobile-web-app-status-bar-style" content=""/>
