
.settings {
  @include flexify($direction: column);
  transform: translate3d(0, -2rem, 0);
  flex-basis: 10rem;
  transition: all .1s ease-in;
}

// Page helpers
.open {
  transform: translate3d(0, -10rem, 0);
  background-color: $color-gray-light;
  // background-image: linear-gradient(45deg, $color-gray-light, $color-gray-middle, $color-gray-light);
}

.settings > .header > .icon-open {
  fill: $color-gray-light;
}

.settings > .header-open {
  background-color: $color-secondary;
}
