
@mixin circle-main($width: false) {
  height: 6rem;
  border-radius: 50%;
  background-color: $color-main;

  @if ($width != false) {
    width: $width;
  } @else {
    flex-basis: 6rem;
  }

  // font
  font-weight: bold;
  color: $color-gray-light;
  line-height: 110%;
}


@mixin circle-secondary($width: false) {
  height: 6rem;
  border-radius: 50%;
  background-color: $color-gray-middle;

  @if ($width != false) {
    width: $width;
  } @else {
    flex-basis: 6rem;
  }

  // font
  font-weight: bold;
  color: $color-black;
  line-height: 110%;
}
