
*
  margin 0
  padding 0
  box-sizing border-box

section
  background-color #f4f4f4
  height 200px

  > article
    max-width 800px
    margin 0 auto
    padding 50px 0px 50px

    > h1
      color tomato
      font-size 55px
      margin-bottom -10px

    > p
      color #444
      font-size 20px
      margin-bottom 20px

    > a
      text-decoration none

      &:hover
        text-decoration underline
